---
layout: page
---
<!-- من لبنان إلى العالم -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Ramsey Nasser
    {% if page.title %} — {{ page.title }} {% endif %}
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Amiri:400,700&amp;subset=latin,arabic' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/atom+xml" href="/feed.xml" />
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
  <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
</head>
<body>
  <div class="container">
    <header>
      <h1><a href="{{ site.url }}/">Ramsey Nasser</a></h1>
      <h2
        {% if page.lang %}
          lang="{{ page.lang }}"
        {% endif %}
      >
      {% if page.title %}
        {{ page.title }}
      {% else %}
        &nbsp;
      {% endif %}
      </h2>

      <nav {% unless page.title %} class="index" {% endunless %}>
        <ul>
          <li><a title="About" href="{{ site.url }}/about"><i class="fa-sharp fa-solid fa-circle-question"></i></a></li>
          <li><a title="Text" href="{{ site.url }}/text"><i class="fa fa-pencil"></i></a></li>
          <li><a title="Talks" href="{{ site.url }}/talks"><i class="fa fa-microphone"></i></a></li>
          <li><a title="Github" href="http://github.com/nasser"><i class="fa-brands fa-github-alt"></i></i></a></li>
          <li><a title="Mastodon" rel="me" href="https://merveilles.town/@nasser"><i class="fa-brands fa-mastodon"></i></a></li>
          <li><a title="Twitter" href="http://twitter.com/ra"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </nav>
    </header>
    <article>
{{ content }}
{% if page.github %}
<p><a href="https://github.com/{{ page.github }}"><img class="noscale" style="position: fixed; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
{% endif %}
{% if page.indiecade-selection %}
<div class="awards">
  <a class="noline" href="http://www.indiecade.com/{{ page.indiecade-selection }}/games"><img src="/images/indiecade-selection-{{ page.indiecade-selection }}.png"></a>
</div>
{% endif %}
{% if page.eyebeam %}
<p><a class="noline" href="http://eyebeam.org/projects/{{ page.eyebeam }}"><img src="/images/eyebeam.png"></a></p>
{{ page.title }} was developed at Eyebeam as part of my fellowship exploring code as a medium of self expression.
{% endif %}
    </article>
    <footer><div>That's all I've got</div></footer>
  </div>
</body>
</html>
